<!-- app/views/layouts/_header.html.erb -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to 'Phantom Devs', root_path, class: "navbar-brand" %>
  <!-- Toggler for mobile -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <%# About page %>
      <li class="nav-item">
        <%= link_to "About", "/about", class: "nav-link" %>
      </li>

      <%# Profile page %>
      <li class="nav-item">
        <% if session[:user_id] %>
          <%= link_to "Profile", account_path, class: "nav-link" %>
        <% end %>
      </li>
      
      <%# Alien Translation game (new design-patterns version) %>
      <li class="nav-item">
        <%= link_to "Alien Translation", alien_translation_path, class: "nav-link" %>
      </li>

      <%# Blast Off page %>
      <li class="nav-item">
        <%= link_to "Blast Off", blast_off_path, class: "nav-link" %>
      </li>

      <%# Login page %>
      <% if session[:user_id].blank? %>
        <li class="nav-item">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>
      <% end %>

      
      <%# Logout page %>
      <li class="nav-item">
        <% if session[:user_id] %>
          <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger nav-link", form: { style: "display:inline;" } %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
